CONFIG_DS_ARCH_ARMEL=y
CONFIG_DS_DISTRO_DEBIAN_12=y
CONFIG_DS_PACKAGELIST="debian_12_headless.txt"
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="https://github.com/embeddedTS/linux-lts.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="v6.6.83.1-ts"
CONFIG_DS_KERNEL_DEFCONFIG="tsimx28_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="imx28-ts7670 imx28-ts7400v2"
CONFIG_DS_KERNEL_INSTALL_UIMAGE_FILESYSTEM=y
CONFIG_DS_KERNEL_INSTALL_UIMAGE_LOADADDR=0x40008000
CONFIG_DS_COMPONENT_TS7670_UBOOT=y
CONFIG_DS_COMPONENT_TS7670_UTILS=y
CONFIG_DS_WATCHDOG=y
CONFIG_DS_COMPONENT_RESIZE=y
CONFIG_DS_USER_ROOT_EN=y
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx28"
CONFIG_DS_TIMEZONE="America/Phoenix"
CONFIG_DS_IMAGE_ROOTFS_EXT=y
CONFIG_DS_IMAGE_ROOTFS_EXT_SIZE="1G"
CONFIG_DS_IMAGE_ROOTFS_EXT_MKFS_OPTS="-O ^metadata_csum,^64bit"
CONFIG_DS_GENIMAGE=y
CONFIG_DS_GENIMAGE_PATH="genimage/tsimx28_headless.cfg"
