CONFIG_DS_ARCH_AARCH64=y
CONFIG_DS_DISTRO_DEBIAN_12=y
CONFIG_DS_PACKAGELIST="debian_12_minimal.txt"
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="git@github.com:embeddedTS/prototype-linux-imx93.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="4be663a4f3305d3ecc1bde10cf7b08b602e23410"
CONFIG_DS_KERNEL_DEFCONFIG="ts9370_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="freescale/imx93-ts4300-16 freescale/imx93-ts4300-16-ts-rd-mipi2dp freescale/imx93-ts4300-16-ts-rd-mipi2dp-ti freescale/imx93-ts4300 freescale/imx93-ts9370 freescale/imx93-ts9390"
CONFIG_DS_COMPONENT_LINUX_FIRMWARE=y
CONFIG_DS_COMPONENT_LINUX_FIRMWARE_QCA9377=y
CONFIG_DS_COMPONENT_DISTROBOOT_SCRIPTS=y
CONFIG_DS_COMPONENT_DISTROBOOT_SCRIPTS_INSTALL_SOURCE=y
CONFIG_DS_WATCHDOG=y
CONFIG_DS_COMPONENT_RESIZE=y
CONFIG_DS_USER_ROOT_EN=y
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx9"
CONFIG_DS_TIMEZONE="America/Phoenix"
CONFIG_DS_IMAGE_ROOTFS_TAR=y
