CONFIG_DS_ARCH_AARCH64=y
CONFIG_DS_DISTRO_DEBIAN_13=y
CONFIG_DS_PACKAGELIST="debian_13_minimal.txt"
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="https://github.com/embeddedTS/linux-tsimx.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="f84de336d25c856f2365ba201a73cc593c198fe0"
CONFIG_DS_KERNEL_DEFCONFIG="tsimx93_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="freescale/imx93-ts4300 freescale/imx93-ts9370 freescale/imx93-ts9390"
CONFIG_DS_KERNEL_INSTALL_DTBOS_FILESYSTEM="freescale/imx93-ts4300-16 freescale/imx93-ts4300-16-mipi2dp freescale/imx93-ts4300-ld"
CONFIG_DS_COMPONENT_TSSUPERVISORUPDATE=y
CONFIG_DS_COMPONENT_TS_UBOOT_CONFIGS=y
CONFIG_DS_MODULE_MWIFIEX=y
CONFIG_DS_MODULE_MWIFIEX_GIT_VERSION="lf-6.12.34_2.1.0"
CONFIG_DS_COMPONENT_IMX_FIRMWARE=y
CONFIG_DS_COMPONENT_IMX_FIRMWARE_GIT_VERSION="lf-6.12.34_2.1.0"
CONFIG_DS_COMPONENT_MURATA_NXP_LINUX_CALIBRATION=y
CONFIG_DS_COMPONENT_MURATA_NXP_LINUX_CALIBRATION_GIT_VERSION="imx-6-12-20"
CONFIG_DS_COMPONENT_LINUX_FIRMWARE=y
CONFIG_DS_COMPONENT_LINUX_FIRMWARE_QCA9377=y
CONFIG_DS_COMPONENT_DISTROBOOT_SCRIPTS=y
CONFIG_DS_COMPONENT_DISTROBOOT_EXTENSION=y
CONFIG_DS_WATCHDOG=y
CONFIG_DS_COMPONENT_RESIZE=y
CONFIG_DS_USER_ROOT_EN=y
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx9"
CONFIG_DS_TIMEZONE="America/Phoenix"
# CONFIG_DS_REGENERATE_COMMAND_NOT_FOUND is not set
CONFIG_DS_IMAGE_ROOTFS_TAR=y
