CONFIG_DS_ARCH_AARCH64=y
CONFIG_DS_DISTRO_UBUNTU_24_04=y
CONFIG_DS_PACKAGELIST="ubuntu_24.04_headless.txt"
CONFIG_DS_KERNEL_PROVIDER_GIT_URL="https://github.com/embeddedTS/linux-tsimx.git"
CONFIG_DS_KERNEL_PROVIDER_GIT_VERSION="08074a5eeea4c9ce677d181d1bcf14da0a2d4d7d"
CONFIG_DS_KERNEL_DEFCONFIG="tsimx93_defconfig"
CONFIG_DS_KERNEL_INSTALL_DEVICETREE_FILESYSTEM="freescale/imx93-ts4300 freescale/imx93-ts9370 freescale/imx93-ts9390"
CONFIG_DS_KERNEL_INSTALL_DTBOS_FILESYSTEM="freescale/imx93-ts4300-16 freescale/imx93-ts4300-16-mipi2dp"
CONFIG_DS_COMPONENT_TSSUPERVISORUPDATE=y
CONFIG_DS_COMPONENT_TS_TOUCHSCREEN_CALIBRATIONS=y
CONFIG_DS_COMPONENT_TS_X11_CALIBRATION=y
CONFIG_DS_COMPONENT_TS_UBOOT_CONFIGS=y
CONFIG_DS_MODULE_MWIFIEX=y
CONFIG_DS_MODULE_MWIFIEX_GIT_VERSION="lf-6.12.34_2.1.0"
CONFIG_DS_COMPONENT_IMX_FIRMWARE=y
CONFIG_DS_COMPONENT_IMX_FIRMWARE_GIT_VERSION="lf-6.12.34_2.1.0"
CONFIG_DS_COMPONENT_MURATA_NXP_LINUX_CALIBRATION=y
CONFIG_DS_COMPONENT_MURATA_NXP_LINUX_CALIBRATION_GIT_VERSION="imx-6-12-20"
CONFIG_DS_COMPONENT_LINUX_FIRMWARE=y
CONFIG_DS_COMPONENT_DISTROBOOT_SCRIPTS=y
CONFIG_DS_COMPONENT_DISTROBOOT_EXTENSION=y
CONFIG_DS_COMPONENT_DISTROBOOT_SCRIPTS_INSTALL_SOURCE=y
CONFIG_DS_WATCHDOG=y
CONFIG_DS_COMPONENT_RESIZE=y
CONFIG_DS_USER=y
CONFIG_DS_USER_PASSWORD="user"
CONFIG_DS_USER_SUDO=y
CONFIG_DS_PURGE_LOCALES=y
CONFIG_DS_HOSTNAME="tsimx9"
CONFIG_DS_TIMEZONE="America/Phoenix"
# CONFIG_DS_REGENERATE_COMMAND_NOT_FOUND is not set
CONFIG_DS_IMAGE_ROOTFS_TAR=y
